.botao {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 16px;
    background-color: var(--azul);
    color: var(--branco);
    display: inline-block;
    cursor: pointer;
}