.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), 
    url(../../img/banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 192px;
}

.banner__texto {
    padding: 78px 0 0 16px;
}

.banner__texto--titulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--branco);
}

.banner__texto--descricao {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--branco);
    padding: 8px 0;
}

@media screen and (min-width: 768px) {
    .banner {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), 
        url(../../img/banner-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 352px;
    }

    .banner__texto {
        padding: 161px 0 0 32px;
    }

    .banner__texto--titulo {
        font-size: 52px;
        line-height: 61px;    
    }

    .banner__texto--descricao {
        font-size: 22px;
        line-height: 26px;
        padding: 16px 0;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), 
        url(../../img/banner-pc.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 352px;
    }

    .banner__texto {
        padding: 150px 0 0 152px;
    }

    .banner__texto--titulo {
        font-weight: 700;
        font-size: 52px;
    }

    .banner__texto--descricao {
        font-weight: 700;
    }
}