.galeria {
    padding: 1rem 8%;
}

.galeria__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.galeria__header--titulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.galeria__produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria__produtos__item:nth-child(1), .galeria__produtos__item:nth-child(2), .galeria__produtos__item:nth-child(3), .galeria__produtos__item:nth-child(4) {
    display: initial;
}

.galeria__produtos__item {
    display: none;
    margin-top: 16px;
}

.galeria__produtos__item--foto {
    width: 156px;
    height: 174px;
}

.galeria__produtos__item--titulo, .galeria__produtos__item--preco {
    font-size: 14px;
    line-height: 16px;
    color: var(--cinza);
}

.galeria__produtos__item--preco {
    font-weight: 700;
    margin: 8px 0;
}

.galeria__produtos__item--link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--azul);
}

@media screen and (min-width: 768px) {
    .galeria {
        padding: 2rem;
    }

    .galeria__produtos {
        justify-content: space-between;
        gap: initial;
        flex-wrap: nowrap;
        margin: 0;
    }

    .galeria__produtos__item--foto {
        width: 164px;
        height: 174px;
    }

    .galeria__produtos__item--preco, .galeria__produtos__item--link {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (min-width: 1440px) {
    .galeria {
        padding: 2rem 152px;
    }

    .galeria__header--titulo {
        font-size: 32px;
        line-height: 38px;
    }

    .galeria__produtos__item {
        display: initial;
    }

    .galeria__produtos__item--foto {
        width: 176px;
        height: 174px;
    }
}