.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 16px;
    background-color: var(--azul);
    color: var(--branco);
    display: inline-block;
    cursor: pointer;
}

.ver-tudo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--azul);
}

.ver-tudo--texto {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.ver-tudo--img {
    content: "";
    background: url(../img/icon-seta.svg) no-repeat center;
    background-size: contain;
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 768px) {
    .ver-tudo {
        gap: 8px;
    }

    .ver-tudo--texto {
        font-size: 16px;
        line-height: 19px;        
    }
    
    .ver-tudo--img {
        width: 24px;
        height: 24px;
    }
}