.galeria {
    padding: 1rem 9%;
    background-color: var(--branco-escuro);
}

.galeria__header--titulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 16px;
}

.galeria__produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria__produtos__item {
    margin-top: 16px;
    position: relative;
}

.galeria__produtos__item--foto {
    width: 156px;
    height: 174px;
    object-fit: cover;
}

.galeria__produtos__item--titulo, .galeria__produtos__item--preco {
    font-size: 14px;
    line-height: 16px;
    color: var(--cinza);
}

.galeria__produtos__item--preco {
    font-weight: 700;
    margin: 8px 0;
}

.galeria__produtos__item--link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--azul);
}

.galeria__produtos__item--apagar, .galeria__produtos__item--editar {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
}

.galeria__produtos__item--apagar {
    background: url(../../img/apagar.svg);
    top: 8px;
    right: 48px;
}

.galeria__produtos__item--editar {
    background: url(../../img/editar.svg);
    top: 8px;
    right: 8px;
}

@media screen and (min-width: 768px) {
    .galeria {
        padding: 2rem;
    }

    .galeria__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .galeria__header--titulo {
        margin: 0;
    }

    .galeria__produtos {
        justify-content: initial;
        gap: 16px;
    }

    .galeria__produtos__item--foto {
        width: 164px;
        height: 174px;
    }

    .galeria__produtos__item--preco, .galeria__produtos__item--link {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (min-width: 1440px) {
    .galeria {
        padding: 2rem 152px;
    }


    .galeria__header--titulo {
        font-size: 32px;
        line-height: 38px;
    }

    .galeria__produtos__item {
        display: initial;
    }

    .galeria__produtos__item--foto {
        width: 176px;
        height: 174px;
    }
}