.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.cabecalho--login {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--azul);
    padding: 12px 47.5px;
    border: 1px solid var(--azul);
}

.cabecalho--pesquisa, .cabecalho--label {
    display: none;
}
