.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.cabecalho__esquerda {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho--login {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--azul);
    padding: 12px 47.5px;
    border: 1px solid var(--azul);
}

.cabecalho__esquerda--pesquisa, .cabecalho__esquerda--label {
    display: none;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 16px 32px;
        justify-content: initial;
        gap: 32px 134px;
    }

    .cabecalho__esquerda--pesquisa {
        display: inline;
        padding: 8px 73px 8px 16px;
        background: url("../img/pesquisa.svg");
        background-repeat: no-repeat;
        background-position: 235px;
        background-color: var(--branco-escuro);
        border-radius: 20px;
    }

    .cabecalho__esquerda--pesquisa::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--cinza-medio);
    }

    .cabecalho--lupa {
        display: none;
    }
}