.botao {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 16px;
    background-color: var(--azul);
    color: var(--branco);
    display: inline-block;
}

.ver-tudo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--azul);
}

.ver-tudo--texto {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.ver-tudo--img {
    content: "";
    background-image: url(../img/icon-seta.svg);
    width: 16px;
    height: 16px;
}